<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <% if(username === undefined) { %>
  <form method="POST" action="/login">
    <input id="username" type="text" name="username" placeholder="Create a username" style="width: 200px">
    <button type="submit">Submit</button>
  </form>
    <% } else { %>
    <header><%= username %></header>
      <form method="POST" action="/logout">
      <button>Logout</button>
      </form>
    <% } %>
</body>
</html>
