<html lang="en">

<head>
  <!-- Latest compiled and minified CSS -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,
  initial-scale=1">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <meta charset="utf-8">

  <title>TinyApp</title>
</head>

<body>
  <section class='header'>
    <div class="title">
      <h1>Tiny-App</h1>
      <h5>URL Optimizer</h5>
    </div>
  <% if (user === undefined) { %>
    <div class="account-controls">
      <a href="/login" class='login button'>Login</a>
      <a href="/register" class='register button'>Register</a>
    </div>
  <% } else { %>
    <div class='user-container'>
      <h3><%= user['email'] %></h3>
      <a href="/urls/new" class='button url'>New URL</a>
      <a href="/urls" class='button url'>My URLs</a>
      <form method="POST" action="/logout">
        <button type="submit" class='logout button'>Logout</button>
      </form>
    </div>
  <% } %>
  <br>
  </section>
</body>

</html>