<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<header>HEADER</header>
  <form method="POST" action="/login">
    <input id="username" type="text" name="username" placeholder="Create a username" style="width: 200px">
    <button type="submit">Submit</button>
  </form>
    <!-- Add your EJS code here -->
</body>
</html>
