<!DOCTYPE html>
<html lang="en">
<head>
<!-- Latest compiled and minified CSS -->
    <meta charset="utf-8">
  <% include partials/_header %>
  <title>TinyApp</title>
</head>
<body>
<h3>Please login or register</h3>
</body>