<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/_header %>
  <title>TinyApp</title>
</head>

<body>
  <form method="POST" action="/urls/<%= shortURL %>" class='form'>
    <h2>Short URL: <%= shortURL %></h2>
    <input id="longURL" type="text" name="longURL" placeholder="http://" class='input-field'>
    <button type="submit" class='button submit'>Update</button>
  </form>
</body>

</html>