<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <form method="POST" action="/register">
    <input id="email" type="email" name="email" placeholder="Email..." style="width: 200px">
    <input id="password" type="password" name="password" placeholder="Create a password" style="width: 200px">
    <button type="submit">Submit</button>
  </form>
</body>
</html>