<!DOCTYPE HTML>
<html lang="en">

<head>
  <% include partials/_header %>
  <title>TinyApp</title>
</head>

<body>
  <form method="POST" action="/register" class='form'>
    <input id="email" type="email" name="email" placeholder="Email..." class='input-field'>
    <input id="password" type="password" name="password" placeholder="Create a password" class='input-field'>
    <button type="submit" class='button submit'>Submit</button>
  </form>
</body>

</html>