<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Latest compiled and minified CSS -->
  <meta charset="utf-8">
  <% include partials/_header %>
  <title>TinyApp</title>
</head>

<body>
  <% for (let url in urls) { %>
  <div>
    <div>
      <div>
        <p><%= urls[url] %> - <%= [url] %><br></p>
      </div>
      <form method="POST" action="/urls/<%= [url] %>/delete">
        <div>
          <div><a href="/urls/<%= url %>">Edit</a></div>
          <div><button type="submit">Delete URL</button></div>
        </div>
      </form>
      <% }; %>
    </div>
  </div>


  <!-- Add your EJS code here -->
</body>

</html>