<!DOCTYPE html>
<html lang="en">

<head></head>

<body>
  <!-- ejs to include the header file -->
  <% include partials/_header %>
  <form action="/urls" method="POST" class='form'>
    <label for="longURL">Enter a URL:</label>
    <input id="longURL" class='input-field' type="text" name="longURL" placeholder="http://" class='input-field'>
    <input type="submit" value="Submit" class='button submit'>
  </form>
</body>

</html>