<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_header %>
  <title>TinyApp</title>
</head>
<body>
  <ul>
    <% for (let url in urls) { %>
    <li><%= urls[url] %> - <%= [url] %></li>
    <form method="POST" action="/urls/<%= [url] %>/delete">
    <button type="submit">Delete URL</button>
    <a href="/urls/<%= url %>">Edit</a>
    </form>
    <% }; %>
    <a href="url">Link</a>
  </ul>
    <!-- Add your EJS code here -->
</body>
</html>